{% extends 'base.html' %}

{% block head %}
<title>STADVDB Movies</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">STADVDB Movies</h1>

    <div class="form">
        <form action="/add" method="POST">
            <!-- Name -->
            Name <input type="text" name="names" placeholder="Creed III"><br>

            <!-- Release Date -->
            Release Date <input type="date" name="date_x" value="2023-03-02"><br>

            <!-- Score -->
            Score <input type="number" name="score" step="0.1" placeholder="73"><br>

            <!-- Genre -->
            <label for="genre">Genre:</label>
            <!-- Simple text input for genres -->
            <input type="text" id="genre" name="genre" placeholder="Drama, Action"><br>

            <!-- Overview -->
            Overview <textarea name="overview" placeholder="After dominating the boxing world, Adonis Creed has been thriving in both his career and family life. When a childhood friend and former boxing prodigy, Damien Anderson, resurfaces after serving a long sentence in prison, he is eager to prove that he des..."></textarea><br>

            <!-- Crew -->
            Crew <input type="text" name="crew" placeholder="Michael B. Jordan, Adonis Creed, Tessa Thompson, Bianca Taylor, Jonathan Majors, Damien Anderson, Wood Harris, Tony 'Little Duke' Evers, Phylicia Rashād, Mary Anne Creed, Mila Davis-Kent, Amara Creed, Florian Munteanu, Viktor Drago, José Benavidez Jr.,..."><br>

            <!-- Original Title -->
            Original Title <input type="text" name="orig_title" placeholder="Creed III"><br>

            <!-- Status -->
            <label for="status">Status:</label>
            <select id="status" name="status">
              <option value="released" selected>Released</option>
              <option value="post_production">Post Production</option>
              <option value="in_production">In Production</option>
            </select><br>

            <!-- Original Language -->
            Original Language <input type="text" name="orig_lang" placeholder="English"><br>

            <!-- Budget -->
            Budget <input type="number" name="budget_x" step="0.01" placeholder="75000000"><br>

            <!-- Revenue -->
            Revenue <input type="number" name="revenue" step="0.01" placeholder="271616668.0"><br>

            <!-- Country -->
            Country <input type="text" name="country" placeholder="AU" maxlength="2"><br>

            <input type="submit" value="Add Movie">
        </form>
    </div>
</div>
{% endblock %}
