{% extends 'base.html' %}

{% block head %}
<title>STADVDB Movies</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">STADVDB Movies</h1>

    <div class="form">
        <form action="/add" method="POST">
            Names <input type="text" name="names"><br>
            Release Date <input type="date" name="date_x"><br>
            Score <input type="number" name="score" step="0.1"><br>
            <label for="genre">Genre:</label>
            <select id="genre" name="genre" multiple>
              <option value="action">Action</option>
              <option value="science_fiction">Science Fiction</option>
              <option value="fantasy">Fantasy</option>
              <option value="thriller">Thriller</option>
              <option value="crime">Crime</option>
              <option value="drama">Drama</option>
              <option value="romance">Romance</option>
              <option value="adventure">Adventure</option>
              <option value="animation">Animation</option>
              <option value="comedy">Comedy</option>
              <option value="family">Family</option>
              <option value="mystery">Mystery</option>
              <option value="horror">Horror</option>
              <option value="history">History</option>
              <option value="war">War</option>
              <option value="tv_movie">TV Movie</option>
              <option value="music">Music</option>
              <option value="western">Western</option>
            </select><br>
            Overview <textarea name="overview"></textarea><br>
            Crew <input type="text" name="crew"><br>
            Original Title <input type="text" name="orig_title"><br>
            <label for="status">Status:</label>
            <select id="status" name="status">
              <option value="released">Released</option>
              <option value="post_production">Post Production</option>
              <option value="in_production">In Production</option>
            </select><br>
            Original Language <input type="text" name="orig_lang"><br>
            Budget <input type="number" name="budget_x" step="0.01"><br>
            Revenue <input type="number" name="revenue" step="0.01"><br>
            Country <input type="text" name="country"><br>
            <input type="submit" value="Add Movie">
        </form>
    </div>
</div>
{% endblock %}
