<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>MCO2 Transaction Management</h1>
    <p>Choose an option below:</p>
    <button class="node-button" onclick="window.location.href='/check_connection'">Configure Nodes</button><br>
    <button class="node-button" onclick="window.location.href='/load_data'">Load Data into Database</button><br>
    <button class="node-button" onclick="window.location.href='/'">Create Record</button><br>
    <button class="node-button" onclick="window.location.href='/read_data'">Read Records</button><br>
    <button class="node-button" onclick="window.location.href='/'">Update Record</button><br>
    <button class="node-button" onclick="window.location.href='/'">Delete Record</button><br>
</body>
</html>
